@charset "UTF-8";



@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82 );
    }
    
    
    
    
    section{
        width: 90vw;
        height: 34vw;
        display: flex;
        margin: auto;
    }

    #img{
        float: left;
        width: 30%;
        height: 100%;
        background-position: top right;
        border-radius: 20px 0 0 20px;
    }

    #login{
        float: right;
        width:  100%;
        position: relative;
        height: px;
    }
    input{
        display:flex;
        width: 100%;
    }
        
    
}

@media screen and (min-width: 992px) 
 {


    body{
        background-image: linear-gradient(to top, 
   #49a09d, #5f2c82 );
    }
    


section{
    width: 990px;
    height: 350px;
}

    #img{
        float: right;
        width: 40%;
        height: 100%;
        border-radius: 0 20px 20px 0 ;
    }
    #login{
        float: left;
        position: relative;
        width: 50%;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);

    }
    input{
        display: block;
        width: 100%;
    }
}